body {
    font-family:'Courier New', Courier, monospace;
    text-align: center;
}

#board {
    /* background-color: skyblue; */
    background-image: url("./bgg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}